* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pieces {
    width: 80vw;
    margin: 0 auto;

}

.icons {
    width: 60px;
    height: 60px;
    
}

.content {
    display: flex;
    align-items: end;
}