:root {
    --background-color: #d9d9d9;
    --body-background-color: white;
    --icon-color: black;
    --degrade-color1: #9B00F5;
    --degrade-color2: #c765ff;
    --box-shadow: black;
    --border-color: #c679dd;
    --button-shadow1: black;
    --button-shadow2: #c765ff;
}

.dark:root {
    --background-color: #332F52;
    --body-background-color: #180D33;
    --icon-color: #17F5F3;
    --degrade-color1: #00d7eb;
    --degrade-color2: #00B9EA;
    --box-shadow: #511475;
    --border-color: #00eaff;
    --button-shadow1: #00f2ff;
    --button-shadow2: #0048ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 250ms linear;
    overflow-X: hidden;
}

body {
    background-color: var(--body-background-color);
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0.5vw;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(130, 130, 130);
    border-radius: 10px;

}
a{
    color: black;
}
section{
    width: 100%;
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-attachment: fixed;
}

section:nth-of-type(1){
    background-image: url(../img/bg1.jpg);
    height: 90vh;
}
section:nth-of-type(2){
    background-color: var(--background-color);
}
section:nth-of-type(3){
    background-image: url(../img/bg2.jpg);
    height: 90vh;
}
section:nth-of-type(4){
    background-color: var(--background-color);
}
section:nth-of-type(5){
    background-image: url(../img/BG3.jpg);
    height: 90vh ;

}
section:nth-of-type(6){
    background-color: var(--background-color);
}
section:nth-of-type(7){
    background-image: url(../img/bg4.jpg);
    height: 90vh ;

}
section:nth-of-type(8){
    background-color: var(--background-color);
}


/* Formulario Style */

    .frm {
        background: linear-gradient(45deg, black 2%, #381E61 80%);
        width: 40rem;
        height: 30rem;
        
        box-shadow: 0 0 10px #9B00F5;
        border-radius: 20px;
        margin: 8rem auto;
        padding: 10px;

        position: fixed;
        right: 50%;
        transform: translateX(50%);

        transition: display 350ms linear;
        overflow-y: hidden; 
        display: none;

        z-index: 3;
    }
   
    .content {
        width: calc(100% - 200px);
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        padding: 20px;

        position: absolute;
        right: 0;
    }

    .optUser, .optSenha {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .optUser #inUser,
    .optSenha #inSenha {
        font-size: 20px;
        padding: 2px 10px 2px 40px;
        
        background: transparent;
        color: white;
        border: none;
        border-bottom: 2px solid #63198e;
        
        transition: all 250ms linear;
    }

    #inUser::placeholder,
    #inSenha::placeholder {
        color: #9B00F5;
        font-family: "Mukta";
    }
    #inUser:focus, #inSenha:focus {
        outline-style: none;
        border-color: #9B00F5;
    }

    .bxs-lock, .bxs-user {
        font-size: 20px;
        color: #9B00F5;

        position: absolute;
        left: 0px;
    }

    .b-Concluir {
        border: transparent;
        border-radius: 20px;
        background: linear-gradient(90deg, #9B00F5, #c765ff);

        padding: 5px 20px;
        width: 300px;

        color: white;
        font-size: 30px;
        font-family: "Mukta";
        cursor: pointer;

        box-shadow: 0 3px 10px #511475;
        transition: all 250ms linear;
    }

    .b-Concluir:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 10px #8e00e1;
    }

    .registre-se {
        display: flex;
        align-items: center;
    }

    .registre-se p {
        font-size: 20px;
        font-family: "Mukta";
        color: white;
    }
    
    .b-registrar {

        border: none;
        outline-style: none;
        background: transparent;
        padding-left: 10px;

        font-size: 20px;
        font-weight: bold;
        font-family: "Mukta";
        

        transition: all 150ms linear;
    }

    .b-registrar a {
        color: #d387ff;
        text-decoration: none;
    }

    .b-registrar a:hover {
        text-decoration: underline;
    }

    .logImg {
        width: 200px;
        height: 200px;
        
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
/* Formulario Style End*/


/*menu fixo*/
.menu{
    background-color: var(--background-color);
    width: 15vw;
    height: 101vh;
    position: fixed;
    top: -2vh;
    left: -1vw;
    box-shadow: 0 0 20px var(--box-shadow);
    border-radius: 25px;
    text-align: center;
    z-index: 2;
}
.botao-aprender{
    background: linear-gradient(90deg, var(--degrade-color1), var(--degrade-color2));
    border-style: solid;
    border-color: rgb(198, 121, 221);
    color: white;
    border-color: var(--border-color);
    border-radius: 10px;
    width: 80%;
    height: 8%;
    font-size: 110%;  
    cursor: pointer;
    position: relative;
    top: 20%;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: 'Work Sans', sans-serif;

}

.botao-aprender a {
    color: white; 
    text-decoration: none;
}

.icones-menu{
    display: flex;
    flex-direction: column;
    font-size: 500%;
    gap: 50px;
    text-align: center;
    position: relative;
    top: 9.5%;
    height: 50%;
    color: var(--icon-color);
}
.icone1{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icone2{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icone3{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icone1:hover{
    font-size: 115%;
}
.icone2:hover{
    font-size: 115%;
}
.icone3:hover{
    font-size: 115%;
}
.icone1::after{
    content: "HISTÓRIA";
    font-size: 30%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    top: 16.5%;
    left: 50%;
    transform: translatex(-50%);
    background-color: #a3a3a3;
    border-radius: 10px;
    padding: 1.5%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 0 10px black;
}
.icone1:hover::after{
    opacity: 1;
    position: absolute;
    top: 18.5%;
}
.icone2::after{
    content: "RANKING";
    font-size: 30%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translatex(-50%);
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
    padding: 1.5%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 0 10px black;
}
.icone2:hover::after{
    opacity: 1;
    position: absolute;
    top: 49.5%;
}
.icone3::after{
    content: "VÍDEOS";
    font-size: 30%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translatex(-50%);
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
    padding: 1.5%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 0 10px black;
}
.icone3:hover::after{
    opacity: 1;
    position: absolute;
    top: 81%;
}
.botao-aprender:hover{
    background-color: #d397e6;
    border-color: #d397e6;
    box-shadow: 0 0 20px #a3a3a3;
}
.botao-inscrever{
    background-color: #828282;
    border-style: solid;
    border-color: #828282;
    border-radius: 10px;
    width: 80%;
    height: 5%;
    font-size: 110%;
    color: white;   
    cursor: pointer;
    position: relative;
    top: 65%;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.botao-inscrever a {
    color: white;
    text-decoration: none;
}
.botao-inscrever:hover{
    background-color:rgb(155, 155, 155);
    border-color: rgb(155, 155, 155);
    box-shadow: 0 0 20px rgb(163, 163, 163);
}

.botao-entrar{
    background: linear-gradient(90deg, #9B00F5, #c765ff);    border-style: solid;
    border-color: rgb(198, 121, 221);
}
.botao-entrar{
    background: linear-gradient(90deg, var(--degrade-color1), var(--degrade-color2));    border-style: solid;
    border-color: var(--border-color);

    border-radius: 10px;
    width: 80%;
    height: 5%;
    font-size: 110%;
    color: white;   
    cursor: pointer;
    position: relative;
    top: 66%;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.botao-entrar:hover{
    background-color: rgb(211, 151, 230);
    border-color: rgb(211, 151, 230);
    box-shadow: 0 0 20px rgb(163, 163, 163);
    
}

/*botão claro e escuro*/
.botao-escuro{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.switch {
    background-color: #000000;
    border-radius: 40px;
    cursor: pointer;

    width: 100px;
    height: 50px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.b-Check {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%) scaleX(7) scaleY(4);
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.b-Check:checked + .switch .ball {
    transform: translateX(54px);
}


.switch .ball {
    background-color: white;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    position: absolute;
    top: 5px;
    left: 3px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.bxs-sun {
    color: #ffa620;
    font-size: 30px;
}
.bxs-moon {
    color: #fad900;
    font-size: 30px;
}
/* fim botão*/
/*fim menu fixo*/

/*página 1*/

.pag1{
    width: 90vw;
    height: 85vh;
    position: absolute;
    left: 8vw;
    top: 5vh;
    z-index: 1;
}
.degrade-pag{
    background: linear-gradient(to bottom, #ffffff00,#000000);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 1.7%;
    z-index: 2;
    opacity: 100%;
    z-index: 1;
}
.background-pag1{
    width: 100%;
    height: 130%;
    position: absolute;
    top: -30%;
    opacity: 70%;
}
.back-titulo{
    position: relative;
    left: 5%;
    top: 10%;
    background: linear-gradient(90deg, var(--degrade-color1), var(--degrade-color2));
    width: 60%;
    height: 20%;
    border-radius: 10px;
    display: table;
    z-index: 2;
}
.texto-pag1{
    z-index: 1;
    color: white;
    font-size: 350%;
    position: absolute;
    top: 65%;
    left: 7%;
    max-width: 70%;
    font-family: 'AR One Sans', sans-serif;
}
.titulo{
    font-size: 500%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Train One', cursive;
}
.texto-pag1 span{
    background: linear-gradient(90deg, var(--degrade-color1), var(--degrade-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*pag 2*/
.video{
    position: absolute;
    left: 5%;
    top: 24%;
    width: 40%;
    z-index: 3;
    border-radius: 10px;
    border-style: solid;
}
.texto-pag2{
    color: white;
    position: absolute;
    left: 50%;
    top: 25%;
    max-width: 45%;
    z-index: 3;
}
.historia-titulo{
    font-family: 'Noto Sans', sans-serif;
    font-size: 400%;
    z-index: 3;
}
.historia-texto{
    font-family: 'AR One Sans', sans-serif;
    font-size: 200%;
    z-index: 3;
}

/*fim pag 2*/



/*pagina3 rank*/

.pag2{
    width: 90vw;
    height: 85vh;
    position: absolute;
    left: 8vw;
    top: 105vh;
    z-index: 1;
}
.rank1{
border: rgb(55, 0, 255);
border-radius: 10px;
border-style: solid;
}

.rank1img{
    width: 700px;
}
.pag3{
    width: 90vw;
    height: 85vh;
    position: absolute;
    left: 8vw;
    top: 205vh;
    z-index: 1;
}
.pag4{
    width: 90vw;
    height: 85vh;
    position: absolute;
    left: 8vw;
    top: 305vh;
    z-index: 1;
}


